.page-header{
    background-color: var(--header-bcg-color);
    }
    
    .page-header-container{
    @extend %display_flex_row;
    @include flex_settings_main_cross_axis (space-between);
    // justify-content: space-between;
    // align-items:center;
    }
    .header-nav{
        @extend %display_flex_row;
        margin-left: auto;
        gap: 50px;
    }
    .site-nav{
    display: flex;
    }
    .site-nav .site-nav__item{
        padding-top: 34px;
        padding-bottom: 34px;
    } 
    
    .site-nav .site-nav__item + .site-nav__item{
        margin-left: 50px;
    }
    .navig{
        @extend %display_flex_row;
        @include flex_settings_main_cross_axis ();
        // align-items: center;
        // justify-content: center;
    }
    
    .logo-site{
        margin-right: 94px;
    }
    .link.logo-site{
        font-family: $font_logo; 
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #000000;}
    
    .link{
        transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
    }
    .logo-first-color{
    color:var(--logo-button-color);
    }
    .border-header {
        border-bottom-width: 1px;
        border-bottom-color: rgba(236, 236, 236, 1);
        border-bottom-style: solid;
    }
    .header-nav{
        @extend %display_flex_row;
        @include flex_settings_main_cross_axis ();
        // justify-content: center;
        // align-items: center;
    }
    .nav-icon{
        text-decoration: none;
        fill: var(--icons-color);
        margin-right: 10px;
        transition: var(--transition-dur-and-func);
    }
    .link:hover .nav-icon,
    .link:focus .nav-icon{
        fill: var(--logo-button-color);
        /* cursor: pointer; */
    }
    .link.site-nav__link--current{
        color: var(--logo-button-color);
    }
    .site-nav__item{
        position: relative;
    }
    .site-nav__link--current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--logo-button-color);
    }
   