
.main-theme {
    background-image: url('/images/header-img-tel@1x.jpg');
    background-position: center;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 60px;}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 767px), 
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .main-theme {
    background-image: url('/images/header-img-tel@2x.jpg');
  }
}
@media screen and (min-width: 768px) { 
    .main-theme {
    background-image: url('/images/header-img-tabl@1x.jpg');
    background-size: 768px 400px;
    width: 768px;
    height: 400px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), 
screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-theme {
    background-image: url('/images/header-img-tabl@2x.jpg');
  }
}
@media screen and (min-width: 1200px) { 
    .main-theme {
    background-image: url('/images/header-img-desc@1x.jpg');
    background-size: 1200px 600px;
    width: 1200px;
    height: 600px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), 
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-theme {
    background-image: url('/images/header-img-desc@2x.jpg');
  }
}
// 0-1199 px/////////////////////////////////////////// 
@media screen and (min-width: 0px) and (max-width: 1199px) {
    .first-title { 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding-top: 118px;
        margin-bottom: 30px;}
    .button{
        margin-left: auto;
        margin-right: auto;
    }
    .about {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .main-theme {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .benefits {
        margin-bottom: 94px;
    }
    .first-title {
        font-family: $font_primary;
        font-weight: 900;
        font-size: 44px;
        text-align: center;
        line-height: 1.5;
        text-transform: uppercase;
        color: var(--footer-bigtext-color);
        margin-bottom: 30px;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 0){
    .benefits{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        gap: 30px;
    }
    .benefit__box{
        display: flex;
        flex-direction:row;
        height: 120px;
        width: auto;
        justify-content: center;
        align-items: center;
        background-color: var(--portfolio-bottom-color);
        margin-bottom: 30px;
    }
    .about{
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 768px) {
    .benefits{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }
    .benefit__card{
    width: calc((100% - 90px) / 2);}
        
}

@media screen and (min-width: 1200px) {
    .benefit__card{
        width: calc((100% - 90px) / 4);}
    .benefit__box {
        align-items: center;
    }
    .about{
        padding-top: 0;
        margin-bottom: 94px;
    }
    .section.about{
        padding-top: 0;
    }
    .engaged {
        display: flex;
        flex-direction: row;}
    .engaged__img-wrapper{
        position: relative;
    }
    .engaged__wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 70px;
        width: 100%;
        line-height: 1.55;
        background-color: rgba(47, 48, 58, 0.8);
        color: var(--footer-bigtext-color);
        overflow: auto;}

    .engaged__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font_primary;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-style: normal;}
    .engaged__element {
        width: calc( (100% - 60px ) / 3);
        margin-right: 30px;
        
        &:last-child {
        margin-right: 0;
        }}
}


// .list{ list-style: none;
// }
// .main-theme{
// background-color:var(--footer-bcg-color);
// text-align: center; 
// background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
// background-size: contain;
// background-position: center;
// background-size: cover;
// width: 1600px;
// background-repeat: no-repeat;
// margin: 0 auto;
// }




// .first-section{
//     display: flex;
//     background-color: var(--firssecond-bcg-color);
// }


