
    .client-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;}

    .client-list-element{
        width: calc( (100% - 30px) / 2);
        }

    .client-list-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: border var(--transition-dur-and-func);

        &:hover, 
        &:focus {
        fill:var(--logo-button-color);
        border: 1px solid var(--logo-button-color);}
        
        &:hover .client-list-icon,
        &:focus .client-list-icon{
        fill: var(--logo-button-color);
    }}

    .client-list-icon{
        fill: var(--icons-color);
        transition: fill var(--transition-dur-and-func);}

  @media screen and (min-width: 768px) { 
    .client-list-element{
        width: calc( (100% - 60px) / 3);}
  }
  @media screen and (min-width: 1200px) {
    .client-list{
        flex-wrap: nowrap;
        margin-bottom: 94px;
    }
    .client-list-element{
        width: calc( (100% - 160px) / 6);}
}


   