
    .members{
        display: flex;
        flex-direction: column;}
    .description-member{
        padding-top: 30px;
        padding-bottom: 30px;
        }
    .member-card{
        border-radius: 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        }
    .member-card{
        display: flex;
        flex-direction: column;
        align-self: center;
        // width: calc( (100% - 90px ) / 4);
        // margin-right: 30px;
        border: 1px solid color var(--text-colour);
        background-color: var(--header-bcg-color);
        margin-bottom: 30px;   
        &:last-child{
        margin-right: 0;
        margin-bottom: 0;
        }}
    .professions-list {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-colour);
        margin-bottom: 16px;}
    .third-section{
        background-color: var(--portfolio-bottom-color);
        }
    .name-members-list{
        font-family: $font_primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--titles-colour);
        margin-bottom: 10px;}


@media screen and (min-width: 768px) and (max-width:1199px) {
    .members{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 30px;
        column-gap: 30px;
        &:nth-child(2n){
        margin-right: 0;}
    }

    .member-card {
        width: calc( (100% - 30px ) / 2);
        
        &:last-child{
        margin-bottom: 30px;
        }
    }
    .title-third-row {
        text-align: inherit;
    }}

    @media screen and (min-width: 1200px) {
        .members {
            flex-direction: row;
        }
        .member-card{
            width: calc( (100% - 90px ) / 4);
            margin-right: 30px;
            &:last-child{
            margin-right: 0;
            }}
    }