@media screen and (min-width: 0px) {
    .portfolio-button{
        border:0;
        border-radius: 4px;
        padding: 6px 22px;}
    .indent{
        margin-bottom: 50px;}

    .portfolio-button-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 8px;
        align-items: baseline;}
}

@media screen and (min-width: 768px) {
    .portfolio-button{
        margin-top: 60px;
        margin-bottom: 30px;}
    .portfolio-button-list {
        flex-wrap: nowrap;
        justify-content: center;
    }
}
@media screen and (min-width: 1200px) {
    .portfolio-button{
        margin-top: 94px;
        margin-bottom: 34px;}        
}

