:root{
    --text-colour:#757575;
    --titles-colour:#212121;
    --header-bcg-color:#FFFFFF;
    --firssecond-bcg-color:#F5F5F5;
    --portfolio-bottom-color:#F5F4FA ;
    --footer-bcg-color:#2F303A ;
    --logo-button-color:#2196F3;
    --active-button-color:#188CE8;
    --footer-bigtext-color:#ffffff;
    --footer-navtext-color: rgba(255,255,255,0.6);
    --icons-color:#AFB1B8;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$font_primary: 'Roboto', sans-serif;
$font_logo: 'Raleway', sans-serif;





